html{
    box-sizing: content-box;
}

html *{ /*todos los hijos de html tienen el mismo box sizsing del padre*/
    box-sizing: inherit;
}

header {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 22px;
    box-shadow: 1px 2px 5px rgb(0, 0, 0,0.3);
    z-index: 2;
    position: relative;
}

header input{
    outline: none;
    border: solid 1px #eee;
    padding: 10px 5px;
    border-radius: 4px;
}